.header {
  background: linear-gradient(#001a2c, #012e4b);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  position: relative;
}

.logo {
  font-size: 3rem;
  font-weight: bold;
}

.newTaskForm {
  position: absolute;
  height: 50px;
  bottom: -30px;
  width: 100%;
  max-width: 750px;
  display: flex;
  gap: 8px;
  padding: 0 1rem;
}
